/* Eléments principaux de la page */

body {
  

}

/* paragraphs are 80% of the page content.
Let's use a typo that's reader friendly
(easier for dyslexic people) */
p {
    font-family: Tahoma;
}

a {
    font-size: 90%;
    color: blue;
    text-decoration: none;
}

h2 {
    border-radius: 70%;
    text-align: center;
    background-color: coral;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
}

h3 
{
    color : #711979;
    text-align : center;
}
 
h3 img 
{
    border : 0;
}

h5 {
    border-image: linear-gradient(red, blue) 27 / 35px;
    text-align: left;
    font-family: 'Arial', Times, serif;
    font-size: 100%;
    font-style: bold;
}

/* <-----------HEADER---------> */
header {
    border-bottom: 5px #99660a outset;
    background: url("images/summerBanner.jpg");
    height: 200px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#avocation {
    color: rgb(245, 88, 39);
    /* text-shadow: (horizontal)px (vertical)px (douceur du dégradé)px (shadow color); */
    text-shadow: 5px 4px 2px black;
    /* police, taille etc.. */
    font-family: 'Candara';
    /*font-size: 70px;*/
    font-size: 7vw;
    font-weight: 700;
    text-align: center;
    padding-bottom: 10px;
    max-height: 200px;
    
}

#byMe {
    color: rgb(203, 130, 10);
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black;
    font-family: 'Courier New', Courier, monospace, serif;
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
    padding-top: 80px;
}

/* <--------- / HEADER--------> */

/* <----------SECTION---------> */
.section1 {
  /* aide pour visualiser les blocks : */
  width: 100%;
  height: 1033px;
  background-image: url("images/baldursForest.jpg");
  background-position: center;
  border: 2px gray solid;
}

/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #555;
  overflow:  hidden;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 6px 7px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #f55827;
  color: #452e04;
  font-weight: bolder;
}

/* Current/active navbar link */
.active {
  background-color: #99660a;
}



/* Navigation */
nav ul
{
    display: flex;
    margin: 50px 0 3px 0;
    justify-content: flex-end; 
    list-style-type: none;
}

nav li
{
    font-weight: bold;
    margin-right: 15px;
}

nav a
{
    color: rgb(203, 130, 10);
    font-family: 'Courier New', Courier, monospace, serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: rgb(245, 88, 39);
    border-top: 3px solid rgb(203, 130, 10);
    border-right: 3px solid rgb(203, 130, 10);
    border-bottom: 2px solid rgb(245, 88, 39);
    border-left: 3px solid rgb(203, 130, 10);
}

.centerer {
  /* text-align: center;*/
  margin: 120px;    
}

.section1 .centerer p {
    color: black;
    padding: 15px;
    font-size: 22px;
    background-color: grey;
    border-image: linear-gradient(#00004d, blue) 6/ 4px; 
}


/* Définition des /font personnalisées */

@font-face {
    font-family: '3dumbregular';
    src: url('/3Dumb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}